@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400;500&display=swap');

*{
    margin:0;
    padding:0;
}

/* Custom properties */
:root{
    --main-font:'Smooch Sans', sans-serif;
    --unique-font:'Sansita Swashed', cursive;
    --main-size: 110%;
    --unique-size: 2rem;

    --bcg-main:rgb(236, 232, 232);
    --bcg-second:rgba(221, 217, 217, 0.952);
    --bcg-bcg:  rgba(255, 127, 7, 0.801);
    --bcg-add: rgb(236, 232, 232);
    --color-add:rgb(11, 228, 199);
    --color-status:rgb(11, 228, 199);
    --color-title: rgba(128, 223, 90, 0.678);
    --bcg-new-book:rgb(236, 232, 232);
    --color-new-book:rgb(11, 228, 199);
    --color-remove:rgb(11, 228, 199);
}

body{
    background-color: var(--bcg-bcg);
}

.container_1{
    padding-top:25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-left:25px;
}

#add{
    font-size: var(--unique-size);
    border-style: none;
    color: var(--color-new-book);
    padding: 20px;
    border-radius: 12px;
    font-family: var(--unique-font);
    background: none;  
}

#add:hover{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.514);
    cursor:pointer;
}

#add::before{
    content:"+ ";
}

.bcg,.face{
    width:fit-content;
    height:fit-content;
}

#library{
    padding-top:25px;
    padding-left:25px;
    padding-right:25px;
    display:flex;
    gap:24px;
    flex-wrap: wrap;  
}

.face{
    background-color: var(--bcg-main);
    border-top-right-radius:50% ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position : relative;
    align-items:center;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: var(--main-size);
    border-bottom-right-radius: 25px ;
    border-bottom-left-radius: 25px ;
    border-top-left-radius: 25px ;
    padding:25px;
}

.bcg{
    background-color: var(--bcg-second);
    border-radius:25px ;
}



/* Remove btn */
.remove{
    background:none;
    color:var(--color-remove);
    border-style: none;
    width:min-content;
    font-size:1.3rem;
    position:absolute;
    top:5%;
    right:5%;
    font-size:1rem;   
}

.remove:hover{
    color:red;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.548);
}



.status{
    position:relative;
    left:10px;
    background: none;
    border-style:none;
    color:var(--color-status);
}

.status:hover{
    color:green;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.548);
}

h1{
    color:var(--color-title);
    text-align: center;
    font-family: var(--main-font);
    font-size: 3rem;
}

.card{
    display:flex;
    flex-direction:column;
    gap:10px;
}

input{
    border-style:none;
    border-radius: 15px;
    background-color:var(--color-status);
    padding:10px;
}

input:active{
    offset: blue;
}

#create{
    border-style:non;
    background-color: var(--color-new-book);
    border-radius: 15px;
    padding:5px;
    position:relative;
    left:50%;   
}

#create:hover{
    cursor: pointer;
}

/* Used in Js toggle function */
.hidden{
    display:none;
}